{% extends "layout.html" %}

{% block title %}Product Detail{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1 class="mt-4">{{ product.name }}</h1>
      <p><strong>Price:</strong> {{ product.price_at_sale }}</p>
      <p><strong>Description:</strong> {{ product.description }}</p>
      <p><strong>Unit:</strong> {{ product.unit }}</p>

      <h2>Categories:</h2>
      <ul>
        {% for category in product.categories.all %}
          <li>{{ category.category_name }}</li>
        {% endfor %}
      </ul>
    </div>
    
    {% if perms.product.change_product %}
    <div class="col-md-4 mt-4">
        <a href="{% url 'product_edit' product.id %}" class="btn btn-primary">Edit</a>
    </div>
    {% endif %}
  </div>
  
  
  <div class="mt-4">
    <a href="{% url 'product' %}" class="btn btn-primary">Back</a>
  </div>
  
</div>

{% endblock %}
